.home {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    font-family: Verdana;
}

.logout__button {
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: rgb(1, 181, 173);
    border: none;
    color: white;
    font-size: 14px;
    font-family: Verdana;
    border-radius: 3px;
}

.user__name {
    color: #8d0ada;
}

.cursor {
    position: absolute;
    left: var(--left);
    top: var(--top);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}